<div class="feed-container">
    <h2>MiniTwitter Feed</h2>

    <app-create-post (postCreated)="onPostCreated()"></app-create-post>
    
    <div *ngIf="loading" class="loading">
      Loading posts...
    </div>
    
    <div *ngIf="error" class="error">
      Couldn't load the feed. Please try again later.
    </div>

    <div *ngIf="!loading && !error && posts.length === 0" class="no-posts">
      No posts yet. Be the first to post!
    </div>
    
    <div *ngFor="let post of posts" class="post">
      <div class="post-header">
        <strong>{{ post.author.username }}</strong>
        <span class="post-date">{{ post.createdAt | date:'short' }}</span>
      </div>
      <div class="post-content">
        {{ post.content }}
      </div>
    </div>
  </div>